{% extends "base.tmpl" %}

    {% block header_tools %}
    <div id="user-tools"> 

        Hello, {{ user.username }}.
        <a href="/finickyfeeds/logout/">Log out</a> 
            
    </div>
    {% endblock header_tools %}

    {% block top_nav %}
        <a href="/finickyfeeds/feeds/read">read</a> 
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="/finickyfeeds/feeds/manage">manage</a>     
    {% endblock top_nav %}
