{% extends "base.tmpl" %}

    {% block nav_tools %}
    <div id="user-tools"> 
        Hello, {{ user.username }}.
            
                
                
                    <a href="/finickyfeeds/logout/"> 
                
                Log out</a> 
            
    </div>
    {% endblock nav_tools %}
