{% extends "base_logged_in.tmpl" %}

{% block child_scripts %}

    <script type="text/javascript" src="/static/js/feeds/feeds_common.js" >
    </script>
    <script type="text/javascript" src="/static/js/feeds/feeds_read.js" >
    </script>

{% endblock child_scripts %}

{% block main_content %}

   <h2> Read Subscriptions </h2>
        <div id="feeds-accordion"> 
          {% if subscriptions %}
            {% for sub in subscriptions %}
                <div class="subscription_entry" id={{ sub.id }} > 
                    <h3><a href="#">{{ sub.feed.title }}</a></h3> 
                    <div class="articles" id="{{ sub.id }}"> <img src="/static/image/ajax-loader.gif" /> </div>
	        </div> 
            {% endfor %}
          {% endif %}
        </div> 

{% endblock main_content %}

