{% extends "base_logged_in.tmpl" %}

{% block child_scripts %}

    <script type="text/javascript" src="/static/js/feeds/feeds_common.js" >
    </script>
    <script type="text/javascript" src="/static/js/feeds/feeds_read.js" >
    </script>

{% endblock child_scripts %}

{% block main_content %}

   <h2> Read Subscriptions </h2>
   {% if subscriptions %}
     <p> Filter by tags:
         {% if filter_tag %}<a href="?" > (unfilter)</a>{% endif %}
     <br />
     {% for tag, count in tag_counts %}
        <a href="?tag={{ tag }}" >
          {% ifequal filter_tag tag %}
            <b>{{ tag }} ({{ count }})</b>
          {% else %}
            {{ tag }} ({{ count }})
          {% endifequal %}
        </a> &nbsp;&nbsp;&nbsp;
     {% endfor %}
     </p>
        <div id="feeds-accordion"> 
            {% for sub in subscriptions %}
                <div class="subscription_entry" id={{ sub.id }} > 
                    <h3><a href="#">{{ sub.feed.title }}</a></h3> 
                    <div class="articles" id="{{ sub.id }}"> <img src="/static/image/ajax-loader.gif" /> </div>
	        </div> 
            {% endfor %}
        </div> 
    {% else %}
      You don't have any subscriptions yet.  Click the "manage" link just above
      to get started.
    {% endif %}

{% endblock main_content %}

